# Ignore runtime data
/data/
*.db

# Ignore swap, logs, caches
*.log
*.cache

# macOS Finder meta
.DS_Store

# IDE/editor directories
.vscode/
.idea/

# Ignore Python pycache directories and compiled files
.venv/
__pycache__/
*.pyc
*.pyo
